body {
    text-align: center;
    white-space: nowrap;
}

.matrix {
    margin: 2em;
}

.led {
    width: 76px;
    height: 78px;
    margin: 0.1em;
    border-radius: 50%;
    display: inline-block;
}

.on {
    background: url("../image/led_on.png") no-repeat;
}

.off {
    background: url("../image/led_off.png") no-repeat;
}

#pat {
    text-align: center;
    display: inline-block;
    margin: 0 auto 1em;
    font-size: 2em;
    width: 25em;
    height: 1.5em;
    border: dotted 3px #AAA;
    line-height: 150%;
}

#operation div div {
    line-height: 150%;
}

#operation div.after {
    line-height: 75%;
}

.after {
    font-size: 2em;
}