body {
    text-align: center;
    white-space: nowrap;
}

.matrix {
    margin: 1.5em auto;
    padding-top: 1em;
    width: 700px;
    height: 700px;
    background-color: rgb(50, 50, 50);
}

.led {
    width: 76px;
    height: 78px;
    margin: 0.1em;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.led:hover:not(.on) {
    background-color: rgb(255, 200, 200);
}

.on {
    background-color: rgb(255, 45, 45);
}

.off {
    background-color: #F9F9F9;
}

#pat {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    width: 20em;
    padding: 0.5em;
    border: dotted 3px #AAA;
}

.operation {
    margin: 0.8em auto;
}

.operation div div {
    line-height: 150%;
}

.operation div.after {
    line-height: 75%;
}

.after {
    font-size: 2em;
}

#description {
    display: none;
    margin: 1em auto;
    width: 700px;
    height: auto;
}