body {
    text-align: center;
    padding: 5em;
}

.led {
    width: 70px;
    height: 70px;
    margin: 0.1em;
    border-radius: 50%;
    display: inline-block;
    background: url("image/ledb.png");
}