body {
    text-align: center;
    padding: 5em;
}

.led {
    width: 76px;
    height: 78px;
    margin: 0.1em;
    border-radius: 50%;
    display: inline-block;
    background: url("image/led_off.png");
}